//Colors variables
$color-white: #ffffff;
$color-black: #191919;
$color-yellow: #f8ac2e;
$color-orange: #fb5e3c;
$color-violet: #b8afda;
// _________________________
//Contrast color variables
$contrast-red: #f82d00;
$contrast-violet: #785edd;
$contrast-yellow: #ff9c00;

// Text sizing variables
$text-xl: 56px;
$text-l: 48px;
$text-m: 32px;
$text-s: 24px;
$text-xs: 16px;
$body-l: 20px;
$numbers: 80px;
// ___________________________

//Button Text Sizing Variables
$button-text-l: 24px;

//Spacing variables
$spacing-huge: 32px;
$spacing-large: 24px;
$spacing-medium: 16px;
$spacing-small: 8px;
$spacing-tiny: 4px;
// _________________________

//Shadow variable
$shadow: 5px 5px 60px rgba(0, 0, 0, 0.05);
// ______________________________

//Fonts variables
$Heading-font: "Mulish", sans-serif;
$Text-font: "Montserrat", sans-serif;

//Hover Variables
$hoverAccesibility: #d4d4d4;
