@import "../../Global_Styles/variables.module..scss";

.servicesGalleryContainer {
  width: 100%;
  padding: 0 200px;
  height: 984px;
  margin-top: 144px;
  margin-bottom: 200px;

  h5 {
    margin-bottom: 32px;
  }

  .gallery {
    width: 100%;
    height: 904px;
  }

  .firstRow,
  .secondRow {
    height: 440px;
  }

  .firstRow {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    div {
      border-radius: 30px;
      border: 30px;
      overflow: hidden;

      &:nth-child(1) {
        width: 32%;
      }
      &:nth-child(2) {
        width: 66%;
        --webkit-filter: grayscale(100%);
        filter: grayscale(100%);
      }
    }
  }

  .secondRow {
    display: flex;
    justify-content: space-between;
    div {
      border-radius: 30px;
      overflow: hidden;
      height: 440px;

      &:nth-child(1) {
        width: 32%;
        --webkit-filter: grayscale(100%);
        filter: grayscale(100%);
      }
      &:nth-child(2) {
        width: 32%;
      }
      &:nth-child(3) {
        width: 32%;
      }
    }
  }

  img {
    object-fit: cover !important;
    object-position: 50% 50% !important;
  }
}
